<head>
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "main/css/materialize.css" %}">
    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <script src="{% static "main/js/materialize.min.js" %}"></script>  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "main/js/jquery.min.js" %}"></script>  
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="{% static "main/js/chart.min.js" %}"> </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js" integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- Latest compiled and minified JavaScript -->
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left">Hitron</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% include 'main/includes/navbaritems.html' %}
      </ul>
    </div>
  </nav>
    {% include 'main/includes/messaging.html' %}
    {% block content %}
    {% endblock %}
  <!-- <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col 16 s12">
          <h5 class="white-text">You've reached the end!</h5>
          <p class="grey-text text-lighten-4">Contact: Yen@dontcontactme.net.</p>
        </div>
        <div class="col 14 offset-12 s12"> 
          <h6 class="white-text">Legal stuff:</h6>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="/about/tos/">Terms and Condtions</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="/about/privacy-policy/">Privacy Policy</a>
            </li>
          </ul>
      </div>
    </div>
  </footer> -->
</body>
<!-- Prism JS -->
<script src="{% static "tinymce/js/prism.js" %}"></script>