{% extends 'main/header.html' %}
{% load static %}

{% block content %}
  <div class="row">
  	{% for l in lines %}
      <div class="col s12 m6">
        <div class="card blue-grey darken-1 hoverable">
          <div class="card-content white-text">
            <span class="card-title"></span>
            <p style="font-size:70%">{{name}}
            <div class="z-depth-5 hoverable center" style="background-color:#FF8040" >{{l.line_category}}</div>
	              {% for r in regions %}
		              {% if r.station_ForeignKey == l %}
	              	  {{r}}
	              	  <li>
	              	  {% for s in stations %}
	              	  	{% if s.station_ForeignKey == r %}
	              	  		<div class="btn-floating tabs">
	              	  			<!-- <img src="{% static 'main/image/html5.gif' %}" alt="My image"> -->
	              	  			{% if s.station_Status == False %}
	              	  			<form aciton="" method="get">
	              	  				<input name = {{s}} style="color:#000" type="submit" value={{s}}>{{s}}</input>
	              	  				<!-- <img src="{% static 'main/image/pc.jpg' %}" alt="My image"> -->
	              	  			</form>
	              	  			{% else %}
              	  					<form aciton="" method="get">
              	  						<!-- <img src="{% static 'main/image/pc.jpg' %}" alt="My image"> -->
	              	  					<a name = {{s}} href="http://192.168.0.43:3000/Nick/Test1/archive/master.zip" style="color:#000" value={{s}}>{{s}}</a>
              	  					</form>
	              	  			{% endif %}
	              	  			<!-- {% if s.station_Status == False %}
	              	  					<a name = {{s}} href="/login/" style="color:#000" value={{s}}>{{s}}</a>
	              	  			{% else %}
	              	  					<p name = {{s}} style="color:#999" value={{s}}>{{s}}</p>
	              	  			{% endif %} -->
	              	  		</div>
	              	  	{% endif %}
	              	  {% endfor %}
	              	  </li>
		              {% endif %}
	              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

